.productDetails__instagram {

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 4rem 0;
    background-image: url('http://landing.engotheme.com/html/hamadryad/demo/images/homepage2/instagram.jpg');
    background-size: cover;
    height: 250px;

    button { 
           
        width: 230px;
        height: 50px;
        font-size: 150%;
        border: none;
        
        i {
            margin-right: .5rem;
        }
    }
}
